@font-face {
    font-family: 'Atari Classic';
    src: url(AtariClassic-Regular.woff2) format('woff2'),
        url(AtariClassic-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

